<li> Research highlighted in <a href="https://t.co/QwEcTO0Dns"><a href="IU News"> [Mar 2022]</li>
<li> Matt receives the USDA NIFA pre-doc fellowship! [Jun 2021]</li>
<li> Check out our <a href="https://www.biorxiv.org/content/10.1101/2020.09.26.313627v1">preprint</a> on invasion genetics and phenotypic convergence in Galapagos tomato! [May 2021]</li>
<li> New <a href="https://www.frontiersin.org/articles/10.3389/fpls.2021.635990/full">paper</a> on reproductive protein evolution published in Frontiers in Plant Science [Apr 2021]</li>
<li> Our paper on landscape genomics in wild tomato published in <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/mec.15477">Molecular Ecology</a> [May 2020]</li>
