<li> Matt is promoted to Senior Data Scientist [Jan 2023]</li>
<li> Matt jonis Gencove as a Data Scientist [May 2022]</li>
<li> Research highlighted in <a href="https://t.co/QwEcTO0Dns">IU News</a> [Mar 2022]</li>
<li> Matt joins Gencove as a Data Scientist [Mar 2022]</li>
<li> Matt receives the USDA NIFA pre-doc fellowship! [Jun 2021]</li>
<li> Check out our <a href="https://www.biorxiv.org/content/10.1101/2020.09.26.313627v1">preprint</a> on invasion genetics and phenotypic convergence in Galapagos tomato! [May 2021]</li>
